<div class="container" style="margin-top: 50px">
  <h2>Planets</h2>
  <div class="form-group">
    <label for="planetSelect">Select a Planet:</label>
    <select class="form-control" [formControl]="planetControl" id="planetSelect">
        @for (planet of planets.data; track planet.id) {
            <option [value]="planet.id">
              {{ planet.name }}
            </option>
          }
    </select>
  </div>
  @if (planetDetails) {
    <div>
        <h3>Planet Details</h3>
        <ul>
          <li><strong>Name:</strong> {{ planetDetails.data.name }}</li>
          <li><strong>Type:</strong> {{ planetDetails.data.type }}</li>
          <li><strong>Climate:</strong> {{ planetDetails.data.climate }}</li>
          <li><strong>Terrain:</strong> {{ planetDetails.data.terrain }}</li>
          <li><strong>Population:</strong> {{ planetDetails.data.population }}</li>
        </ul>
      </div>
  }
