<div class="container" style="margin-top: 50px">
  <h1>Completed Missions</h1>

  @for(mission of missions.data; track mission.id) {
  <div class="container">
    <h2>Mission: {{ mission.name }}</h2>
    <p><strong>Date:</strong> {{ mission.date | date : "longDate" }}</p>
    <p><strong>Description:</strong> {{ mission.description }}</p>

    <div class="button-group">
      <button
        class="btn btn-primary"
        [routerLink]="['/missions/update', mission.id]"
      >
        Update Mission
      </button>
      <button
        class="btn btn-danger"
        [routerLink]="['/missions/delete', mission.id]"
      >
        Delete Mission
      </button>
    </div>
  </div>
  }
</div>
